In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
charity_df = pd.read_csv('charity_data.csv')
charity_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
charity_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [3]:
# Determine variable(s) to be removed from the input data
charity_df = charity_df.drop(["EIN","NAME"], 1)
# Variable - targets for model
#y = charity_df["IS_SUCCESSFUL"].values
# Variables - features for model
#X = charity_df.drop(["IS_SUCCESSFUL"],1).values

In [4]:
# Generate our categorical variable list
charity_cat = charity_df.dtypes[charity_df.dtypes == "object"].index.tolist()

In [5]:
# Check the number of unique values in each column
charity_df[charity_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [6]:
# Bucket Classification
# Check the unique value counts to see if binning is require
bin_Classification = charity_df.CLASSIFICATION.value_counts()
bin_Classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C8210        1
C2170        1
C2190        1
C1728        1
C3700        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Determine which values to replace
bin_Classification_Other = list(bin_Classification[bin_Classification < 800].index)
# Replace in DataFrame
for type in bin_Classification_Other:
    charity_df.CLASSIFICATION = charity_df.CLASSIFICATION.replace(type,"Other")

In [8]:
# Check to make sure binning was successful
charity_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Bucket Application Type
# Check the unique value counts to see if binning is require
bin_ApplicationType = charity_df.APPLICATION_TYPE.value_counts()
bin_ApplicationType

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Determine which values to replace
bin_Application_Other =  list(bin_ApplicationType[bin_ApplicationType < 500].index)
# Replace in DataFrame
for type in bin_Application_Other:
    charity_df.APPLICATION_TYPE = charity_df.APPLICATION_TYPE.replace(type,"Other")

In [11]:
# Check to make sure binning was successful
charity_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [12]:
# Generate our categorical variable list
charity_cat = charity_df.dtypes[charity_df.dtypes == "object"].index.tolist()

# OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(charity_df[charity_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(charity_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
## Merge new features and drop originals
charity_df = charity_df.merge(encode_df, left_index=True, right_index=True).drop(charity_cat, 1)
charity_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
# Split our preprocessed data into our features and target arrays
X = charity_df.drop(["IS_SUCCESSFUL"], 1).values
y = charity_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [15]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
len(X_train[0])

43

## Evaluate Logistic Regression

In [17]:
# Define the logistic regression model
log_classifier = LogisticRegression(solver="lbfgs",max_iter=50)

# Train the model
log_classifier.fit(X_train,y_train)

# Evaluate the model
y_pred = log_classifier.predict(X_test)
print(f" Logistic regression model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Logistic regression model accuracy: 0.467

## Evaluate Random Forest

In [18]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.710

## Deep Neural Network

In [19]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  32
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 32)                1408
_________________________________________________________________
dense_1 (Dense)              (None, 12)                396
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 13
=================================================================
Total params: 1,817
Trainable params: 1,817
Non-trainable params: 0
_________________________________________________________________

In [20]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5864 - accuracy: 0.7064
Epoch 2/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5569 - accuracy: 0.7304
Epoch 3/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5531 - accuracy: 0.7311
Epoch 4/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5511 - accuracy: 0.7312
Epoch 5/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5498 - accuracy: 0.7327
Epoch 6/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5495 - accuracy: 0.7339
Epoch 7/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5484 - accuracy: 0.7317
Epoch 8/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5480 - accuracy: 0.7339
Epoch 9/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5472 - accuracy: 0.7343
Epoch 10/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5472 - accuracy: 0.7332
Epoch 11/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5466 - accuracy: 0.7342s - loss: 0.547
Epoch 12/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5465 - accuracy: 0.7341
Epoch 13/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5462 - accuracy: 0.7350
Epoch 14/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5463 - accuracy: 0.7348
Epoch 15/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5455 - accuracy: 0.7353
Epoch 16/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5453 - accuracy: 0.7343
Epoch 17/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5452 - accuracy: 0.7365
Epoch 18/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5452 - accuracy: 0.7357
Epoch 19/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5447 - accuracy: 0.7354
Epoch 20/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5447 - accuracy: 0.7354
Epoch 21/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5443 - accuracy: 0.7360
Epoch 22/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5439 - accuracy: 0.7360
Epoch 23/100
25724/25724 [==============================] - 1s 30us/sample - loss: 0.5440 - accuracy: 0.7355
Epoch 24/100
25724/25724 [==============================] - 1s 31us/sample - loss: 0.5437 - accuracy: 0.7357
Epoch 25/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5431 - accuracy: 0.7361
Epoch 26/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5434 - accuracy: 0.7365
Epoch 27/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5433 - accuracy: 0.7360
Epoch 28/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5433 - accuracy: 0.7372
Epoch 29/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5429 - accuracy: 0.7363
Epoch 30/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5425 - accuracy: 0.7359
Epoch 31/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5428 - accuracy: 0.7367
Epoch 32/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5426 - accuracy: 0.7363
Epoch 33/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5425 - accuracy: 0.7376
Epoch 34/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5427 - accuracy: 0.7372
Epoch 35/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5427 - accuracy: 0.7367
Epoch 36/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5422 - accuracy: 0.7366
Epoch 37/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5418 - accuracy: 0.7366
Epoch 38/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5421 - accuracy: 0.7371
Epoch 39/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5419 - accuracy: 0.7374
Epoch 40/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5419 - accuracy: 0.7372
Epoch 41/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5414 - accuracy: 0.7377
Epoch 42/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5416 - accuracy: 0.7374
Epoch 43/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5417 - accuracy: 0.7379
Epoch 44/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5410 - accuracy: 0.7376
Epoch 45/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5416 - accuracy: 0.7370
Epoch 46/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5414 - accuracy: 0.7376
Epoch 47/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5416 - accuracy: 0.7378
Epoch 48/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5412 - accuracy: 0.7378
Epoch 49/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5407 - accuracy: 0.7384
Epoch 50/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5409 - accuracy: 0.7376
Epoch 51/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5412 - accuracy: 0.7390
Epoch 52/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5409 - accuracy: 0.7385
Epoch 53/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5408 - accuracy: 0.7378
Epoch 54/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5407 - accuracy: 0.7382
Epoch 55/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5409 - accuracy: 0.7390
Epoch 56/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5406 - accuracy: 0.7380
Epoch 57/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5403 - accuracy: 0.7380
Epoch 58/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5405 - accuracy: 0.7397
Epoch 59/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5405 - accuracy: 0.7378
Epoch 60/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5403 - accuracy: 0.7386
Epoch 61/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5405 - accuracy: 0.7386
Epoch 62/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5403 - accuracy: 0.7387
Epoch 63/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5402 - accuracy: 0.7386
Epoch 64/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5400 - accuracy: 0.7389
Epoch 65/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5397 - accuracy: 0.7386
Epoch 66/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5402 - accuracy: 0.7382
Epoch 67/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5397 - accuracy: 0.7380
Epoch 68/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5400 - accuracy: 0.7399
Epoch 69/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5398 - accuracy: 0.7384
Epoch 70/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5396 - accuracy: 0.7393
Epoch 71/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5398 - accuracy: 0.7391
Epoch 72/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5395 - accuracy: 0.7384
Epoch 73/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5395 - accuracy: 0.7397
Epoch 74/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5392 - accuracy: 0.7388
Epoch 75/100

25724/25724 [==============================] - 1s 23us/sample - loss: 0.5394 - accuracy: 0.7394
Epoch 76/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5397 - accuracy: 0.7383
Epoch 77/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5393 - accuracy: 0.7392
Epoch 78/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5391 - accuracy: 0.7388
Epoch 79/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5392 - accuracy: 0.7394
Epoch 80/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5390 - accuracy: 0.7390
Epoch 81/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5394 - accuracy: 0.7390
Epoch 82/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5393 - accuracy: 0.7393
Epoch 83/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5392 - accuracy: 0.7395
Epoch 84/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5391 - accuracy: 0.7393
Epoch 85/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5391 - accuracy: 0.7393
Epoch 86/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5389 - accuracy: 0.7399
Epoch 87/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5387 - accuracy: 0.7394
Epoch 88/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5390 - accuracy: 0.7405
Epoch 89/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5387 - accuracy: 0.7390
Epoch 90/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5387 - accuracy: 0.7398
Epoch 91/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5387 - accuracy: 0.7392
Epoch 92/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5387 - accuracy: 0.7392
Epoch 93/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5385 - accuracy: 0.7390
Epoch 94/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5383 - accuracy: 0.7392
Epoch 95/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5383 - accuracy: 0.7406
Epoch 96/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5383 - accuracy: 0.7404
Epoch 97/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5388 - accuracy: 0.7392
Epoch 98/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5385 - accuracy: 0.7401
Epoch 99/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5384 - accuracy: 0.7400
Epoch 100/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5385 - accuracy: 0.7391

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5533 - accuracy: 0.7271
Loss: 0.5532938482253962, Accuracy: 0.7271137237548828